@font-face {
    font-family: Noto;
    src: url("../font/Noto.ttf");
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;

}

body {
    margin: 0;
    font-family: 'Lato', Noto;
}

img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

img {
    max-width: 100%;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

a {
    text-decoration: none;
}

header {
    background-image: url("../img/header-bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    color: white;
    position: fixed;
}



.header-text h1 {
    font-size: 65px;
    animation: type 4s steps(60, end);
}

.header-text button {
    margin-top: 16px;
    width: 15%;
    padding: 8px 100px 8px 20px;
    color: white;
    background-color:rgba(0,174,251,0.4);
    border-radius: 5%;
    border: 2px solid #fff;
    font-size: 25px;
}

.header-text button:hover {

    background-color: #00aefb;
    color: white;
}

h2 {
    color: #00aefb;
    font-size: 60px;
    font-style: bold;
    padding-top: 0px;
    text-align: center;
}

footer {
    padding: 16px;
    background-color:#fff;
}

section {
    padding-top: 8px;
    padding-bottom: 32px;
}

.p-about {
    padding:16px 32px;
}

p {
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
}
.contact-form input {
    width: 90%;
    padding: 16px;
    text-align: right;
    margin: 8px;
    font-style: bold;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.contact-formm textarea {
    margin: 24px;
    width: 45%;
    padding: 16px;
    text-align: right;
    resize: none;
    height: 200px;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.contact-form input:hover,.contact-formm textarea:hover{
    background-color: #00affb;
}
.btn-sub {
    width: 20%;
    padding: 16px;
    font-size: 20px;
    background-color:rgba(0,174,251,0.4);
    color: #fff;
    border: 2px solid #fff;
}

.btn-sub:hover {
    background-color: #00affb;
}

#contact {
    min-height: 600px;
}

.contact-form {
    width: 45%;
    float: left;
    padding: 16px;
}

.item-row {
    width: 100%;
    padding-bottom: 16px;
    display: table;
}


.container{
    position: relative;
    float: left;
    width: 33%;

}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover img {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}
.order {
    background-color: #00aefb;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}



#about, #work {
    background-color: #f6f5f2;
}
#team{
    background-image: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
}


#contact{
    background-color: #1E252B;

    background-image: url("../img/map-image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.work-img {
    border-radius: 25%;
    width: 50%;
    margin: 16px 16px 32px;

    opacity: 1;
    display: block;

    transition: .5s ease;
    backface-visibility: hidden;
}

.about-img {
    width: 50%;
    margin: 16px;

    opacity: 1;
    display: block;

    transition: .5s ease;
    backface-visibility: hidden;
}

.team-img {
    border-radius: 50%;
    width: 50%;
    margin:0px 16px;
    border: 7px solid white;
}

.bar {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    padding: 4px 16px;
    float: right;
    border: none;
    outline: none;
    display: block;
    position: static;
    white-space: normal;
    background-color: transparent;
    text-align: right;
}

.bar-item {
    padding: 12px 16px;
    font-size: 20px;
    float: right;
    width: auto;
    border: none;
    outline: none;
    display: block;
    text-align: center;
    white-space: normal;
    color: #fff;
    background-color:transparent;

}

.bar-item-img {

    margin-left: 25%;
    padding: 8px;
    float: right;
    width: auto;
    border: none;
    outline: none;
    display: block;
    max-height:150px;
    max-width: 150px;

}

.bar-item:hover {
    color: #00aefb;
}


.fa-android {
    background: #a4c639;
    color: white;
}



* {
    box-sizing: border-box
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 8px 0;
    position: relative;
}



.form-container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 16px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto 2% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
.modal-content input {
    width: 100%;
    padding: 16px;
    text-align: right;
    margin-bottom: 8px;
}
.form-order{
    margin-top: 32px;
}

.modal-content textarea {
    width: 100%;
    padding: 16px;
    text-align: right;
    resize: none;
    height: 170px;
}

.btn-send {
    width: 100%;
    padding: 16px;
    font-size: 20px;
    background-color: #00aefb;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 8px;
}

.btn-send:hover {
    background-color: #00affb;
    color: #ff407a;
    border: 3px solid #ff407a;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoInstagram:hover {
    background-color: #bc2a8d;
}
.social-network a.icoGithub:hover {
    background-color: #4078c0;
}

.social-network a.icoTelegram:hover {
    background-color: #0088cc;
}

.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}

.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoInstagram:hover i,.social-network a.icoGithub:hover i,
.social-network a.icoGoogle:hover i,  .social-network a.icoLinkedin:hover i
,  .social-network a.icoTelegram:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-circle a {
    background-color: #1E252B;
}


.card {
    padding-top: 20px;
    margin: 10px;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}






.card.hovercard {
    position: relative;
    padding-top: 16px 0px;
    overflow: hidden;
    text-align: center;
}

.card.hovercard .cardheader {
    background: url("../img/bg5.jpg");
    background-size: cover;
    height: 150px;
}

.card.hovercard .avatar {
    position: relative;
    top: -100px;
    margin-bottom: -120px;
}

.card.hovercard .avatar img {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.3);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #1E252B;
    vertical-align: middle;
}

.desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #1E252B;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;

}

.modal-content8 {
    width: 33%;

}
